<!DOCTYPE html>
<html>
<head>
<title>Phishing Website Detection</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="author">
    Developed by K.SSV Pavansai
</div>

<div class="container">

<h1>Phishing Website Detection</h1>

<form action="/predict" method="post">

<input type="text" name="url" placeholder="Enter Website URL" required>

<button type="submit">Check Website</button>

</form>

<h2>{{ prediction_text }}</h2>

</div>

</body>
</html>